* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o body ocupe toda a altura da tela */
}

h1, h2 {
  color: #006400;
}

.container {
  width: 80%;
  margin: 0 auto;
  flex-grow: 1; /* Faz com que a container ocupe o espaço restante */
}

header {
  background-color: #4caf50;
  color: white;
  padding: 40px 0;
  text-align: center;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

header p {
  font-size: 1.2rem;
}

.intro {
  background-color: #fff;
  padding: 40px 0;
  text-align: center;
}

.intro h2 {
  font-size: 2rem;
  color: #006400;
  margin-bottom: 20px;
}

.intro p {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto;
}

.gallery {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
  background-color: #f0f0f0;
  margin-top: 20px; /* Adicionando um pequeno espaço entre a galeria e o conteúdo acima */
}

.gallery-container1,
.gallery-container2 {
  width: 80%;
  margin: 0 auto;
}

footer {
  background-color: #4caf50;
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-top: auto; /* Garante que o footer fique sempre na parte inferior */
}

footer p {
  font-size: 1rem;
}
